#cart-show.row
  - if current_cart.cart_items.count > 0
    %p cart
  - else
    .col-md-12.no-cart
      %h3 Nothing Here :(
      %p
        There are no items in your cart. would you like to
        = link_to "add one?", products_path


