/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-css
 *= require just-grid-it
 *= require products
 *= require carts
 *= require_self
 */

/* Global Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

a {
  color: #000;
}

.turbolinks-progress-bar {
  height: 1px;
  background-color: #666;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #666;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #666;
    cursor: pointer;
    box-sizing: border-box;
}

/* Nav */
#nav {
  padding: 10px 0 10px 0;;
  position: relative;
  border-bottom: 1px solid #555;
  margin-bottom: 49px;
}
#nav a {
  text-decoration: none;
}
#nav h2 {
  text-align: center;
}
#nav .mini-cart {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 5px;
  width: 20px;
  cursor: pointer;
}
#nav .num-items {
  position: absolute;
  left: 7px;
  top: 10px;;
  color: #fff;
  font-size: 12px;
}

/* Animations */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #555;
  color: white;
}
