// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cart-show {
  .no-cart {
    text-align: center;

    a {
      margin-left: 5px;
    }
  }
  .cart {
    h4 {
      text-align: center;
    }
    .cart-item {
      padding: 20px 0;
      border-top: 1px solid #999;
      text-align: center;

      .cart-image {
        img {
          height: 75px;
        }
      }
    }
  }
}
